 @page
@model NintendoInventory.UI.Pages.Games.IndexModel
@{
}

<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Games</h1>
    </div>
    <div class="col-sm-3">
        <a id="addButton" class="btn btn-primary" asp-page="AddGame">Add Game</a>
        <!--<a id="deleteButton" class="btn btn-primary">Delete Game</a>-->
    </div>
</div>

<div class="row m-4">
    @foreach (var Game in Model.GameList)
    {
        
        var URL = @Game.GameImageURL;
        <div id="@Game.GameID" asp-route-id="@Game.GameID" onclick="showDetails('detailsModal_@Game.GameID')" class="card">
            <a href="#" class="card_Link"></a>
            <img class="card-img-top" src=@URL>
            <div class="card-body">
                <h5 class="card-title">@Game.GameTitle</h5>
                <!--<h7 class="card-date">Game.ReleaseDate</h7>-->
            </div>
            <div id="gamePrice" class="col-sm-12">$@Game.Price</div>
            <div>
                <a id="gamesATWLbtn" asp-route-id="@Game.GameID" onclick="addGameToWL()" class="btn btn-primary rounded-circle "><i class="bi bi-plus"></i></a>
                <a  id="delButton"  onclick="showDeleteModal(@Game.GameID)" class="btn btn-primary rounded-circle"><i class="bi bi-x"></i></a>
            </div>
        </div>
        <!-- details Modal -->
        <div id="detailsModal_@Game.GameID" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <h3>@Game.GameTitle</h3>
                <p>
                    @Game.GameDescription<br>
                    Release Year: @Game.ReleaseYear<br>
                    Price: $@Game.Price<br>

                </p>
                <button id="confirmBtn_@Game.GameID" onclick="closeDetails('detailsModal_@Game.GameID')" class="btn btn-primary">Okay</button>
            </div>

        </div>
        <!-- delete Modal -->
        <div id="deleteModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <h5 class="fw-bold">Are you sure you want to delete?</h5>
                <p> This action cannot be undone.</p>
                <div id="modalButtons">
                    <a asp-page="DeleteGame" asp-route-id="@Game.GameID" class="confirmBtn btn btn-primary">Confirm</a>
                    <button id="cancelBtn_@Game.GameID" onclick="closeDeleteModal()" class="cancelBtn btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>

    }
    
    <script>
        var gameATWLbtn = document.getElementById("gamesATWLbtn");
        function addGameToWL() {
            event.stopPropagation();
            gameATWLbtn.style.display = "none";
        }

        var detailsID;
        function showDetails(detailsModalID) {
            var detailsModal = document.getElementById(detailsModalID)
            detailsModal.style.display = "block";
            detailsID = detailsModal;
        }
        function closeDetails(detailsModalID) {
            var detailsModal = document.getElementById(detailsModalID)
            detailsModal.style.display = "none";
            return false;
        }

        var deleteID;
        function showDeleteModal(GameId) {
            event.stopPropagation();
            var deleteModal = document.getElementById("deleteModal");
            deleteModal.style.display = "block";
            deleteID = deleteModal;
        }

        function closeDeleteModal(detailsModalID) {
            var detailsModal = document.getElementById(detailsModalID)
            detailsModal.style.display = "none";
            return false;
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                deleteID.style.display = "none";
            }
            if (event.target == detailsID) {
                detailsID.style.display = "none";
            }
        }
    </script>
</div>

