@page
@model NintendoInventory.UI.Pages.Consoles.IndexModel
@{
}
<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Consoles</h1>
    </div>
    <div class="col-sm-3">
        <a id="addButton" class="btn btn-primary" asp-page="Add">Add Console</a>
    </div>
</div>

<div class="row m-4">
    @foreach (var Console in Model.ConsoleList)
    {

        var URL = @Console.ConsoleImageURL;
        <div id="@Console.ConsoleID" asp-route-id="@Console.ConsoleID" onclick="showDetails('detailsModal_@Console.ConsoleID')" class="consoleDiv col-md-2 ">
            <div>
                <div id="consButtons">
                    <a onclick="showDeleteModal(@Console.ConsoleID)" class="consDelBtn btn btn-primary rounded-circle align-items-center justify-content-center">
                        <i class="bi bi-x-lg"></i>
                    </a>
                    <a id="ATWLbtn" asp-route-id="@Console.ConsoleID" onclick="addConsoleToWL()" class="btn btn-primary rounded-circle align-items-center justify-content-center ">
                        <i class="bi bi-plus-lg"></i>
                    </a>

                </div>
                <div id="consImgDiv" class="overflow-auto">
                    <img class="image" src=@URL>
                </div>
                <div id="consBotRow">
                    <div class="row">
                        <div id="consoleName" class="col-sm-12">
                            @Console.ConsoleName
                        </div>
                    </div>
                    <div class="row">
                        <div id="releaseDate" class="col-sm-12">
                            Release Year: @Console.ReleaseYear
                        </div>
                    </div>
                    <div class="row">
                        <div id="consPrice" class="col-sm-12">
                            $@Console.Price
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- details Modal -->
        <div id="detailsModal_@Console.ConsoleID" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <h3>@Console.ConsoleName</h3>
                <p>
                    @Console.ConsoleDescription<br>
                    Release Year: @Console.ReleaseYear<br>
                    Price: $@Console.Price<br>

                </p>
                <button id="confirmBtn_@Console.ConsoleID" onclick="closeDetails('detailsModal_@Console.ConsoleID')" class="btn btn-primary">Okay</button>
            </div>

        </div>
        <!-- delete Modal -->
        <div id="deleteModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <h5 class="fw-bold">Are you sure you want to delete?</h5>
                <p> This action cannot be undone.</p>
                <div id="modalButtons">
                    <a asp-page="delete" asp-route-id="@Console.ConsoleID" class="confirmBtn btn btn-primary">Confirm</a>
                    <button id="cancelBtn_@Console.ConsoleID" onclick="closeDeleteModal()" class="cancelBtn btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    }



    <script>
        var ATWLbtn = document.getElementById("ATWLbtn");
        function addConsoleToWL() {
            event.stopPropagation();
            ATWLbtn.style.display = "none";
        }

        var detailsID;
        function showDetails(detailsModalID) {
            var detailsModal = document.getElementById(detailsModalID)
            detailsModal.style.display = "block";
            detailsID = detailsModal;
        }
        function closeDetails(detailsModalID) {
            var detailsModal = document.getElementById(detailsModalID)
            detailsModal.style.display = "none";
            return false;
        }

        var deleteID;
        function showDeleteModal(ConsoleId) {
            event.stopPropagation();
            var deleteModal = document.getElementById("deleteModal");
            deleteModal.style.display = "block";
            deleteID = deleteModal;
        }

        function closeDeleteModal(detailsModalID) {
            var detailsModal = document.getElementById(detailsModalID)
            detailsModal.style.display = "none";
            return false;
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                deleteID.style.display = "none";
            }
            if (event.target == detailsID) {
                detailsID.style.display = "none";
            }
        }
    </script>
</div>