@page
@model NintendoInventory.UI.Pages.Consoles.IndexModel
@{
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenicatedLayout" : "_Layout";
    }
}

@using Microsoft.Data.SqlClient
@{
    List<int> wishlistConsoleIds = new List<int>();
    string connectionString = NintendoInventory.UI.Models.DBhelper.GetConnectionString(); // Replace with your actual connection string

    // Execute SQL Query and retrieve GameIDs
    using (SqlConnection connection = new SqlConnection(connectionString))
    {
        string query = "SELECT ConsoleID FROM ConsoleWishlist"; // Replace with your actual SQL query
        using (SqlCommand command = new SqlCommand(query, connection))
        {
            connection.Open();
            using (SqlDataReader reader = command.ExecuteReader())
            {
                while (reader.Read())
                {
                    int consoleId = reader.GetInt32(0);
                    wishlistConsoleIds.Add(consoleId);
                }
            }
        }
    }
}
<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Consoles</h1>
    </div>
    <div class="col-sm-3">
        <a id="addButton" class="btn btn-primary" asp-page="Add">Add Console</a>
    </div>
</div>

<div class="row m-4">
    @foreach (var Console in Model.ConsoleList)
    {

        var URL = @Console.ConsoleImageURL;
        <div id="@Console.ConsoleID" asp-route-id="@Console.ConsoleID" onclick="showDetails('detailsModal_@Console.ConsoleID')" class="consoleDiv col-md-2 ">
            <div>
                <div id="consButtons">
                    <a onclick="showDeleteModal('deleteModal_@Console.ConsoleID')" class="consDelBtn btn btn-primary rounded-circle align-items-center justify-content-center">
                        <i class="bi bi-x-lg"></i>
                    </a>
                    @if (wishlistConsoleIds.Contains(Console.ConsoleID))
                    {
                        <a id="consoleDeleteFromWL" asp-page="/Wishlist/DeleteConsole" asp-route-id="@Console.ConsoleID" asp-route-itemType="console" onclick="delConsoleFromWL()" class="btn btn-primary rounded-circle align-items-center justify-content-center"><i class="bi bi-x"></i></a>
                    }
                    else
                    {
                        <a id="ATWLbtn" asp-page="/Wishlist/AddConsole" asp-route-id="@Console.ConsoleID" asp-route-itemType="console" onclick="addConsoleToWL()" class="btn btn-primary rounded-circle align-items-center justify-content-center ">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                    }
                    

                </div>
                <div id="consImgDiv" class="overflow-auto">
                    <img class="image" src=@URL>
                </div>
                <div id="consBotRow">
                    <div class="row">
                        <div id="consoleName" class="col-sm-12">
                            @Console.ConsoleName
                        </div>
                    </div>
                    <div class="row">
                        <div id="consPrice" class="col-sm-12">
                            $@Console.Price
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- details Modal -->
        <div id="detailsModal_@Console.ConsoleID" class="modal">
            <!-- Modal content -->
            <div class="modal-content px-5 py-3">
                <h3>@Console.ConsoleName</h3>
                <p>
                    @Console.ConsoleDescription<br><br>
                    Release Year: @Console.ReleaseYear<br><br>
                    Price: $@Console.Price<br><br>
                </p>
                <button onclick="closeDetails('detailsModal_@Console.ConsoleID')" class="confirmBtn btn btn-primary">Close</button>
            </div>

        </div>
        <!-- delete Modal -->
        <div id="deleteModal_@Console.ConsoleID" class="modal">
            <!-- Modal content -->
            <div class="modal-content px-5 py-3">
                <h5 class="fw-bold">Are you sure you want to delete @Console.ConsoleName ?</h5>
                <p> This action cannot be undone.</p>
                <div id="modalButtons">
                    <a asp-page="delete" asp-route-id="@Console.ConsoleID" class="confirmBtn btn btn-primary">Confirm</a>
                    <button onclick="closeDeleteModal('deleteModal_@Console.ConsoleID')" class="cancelBtn btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    }



    <script>
        var ATWLbtn = document.getElementById("ATWLbtn");
        function addConsoleToWL() {
            event.stopPropagation();
            ATWLbtn.style.display = "none";
        }

        var consoleDeleteFromWL = document.getElementById("consoleDeleteFromWL");
        function delConsoleFromWL() {
            event.stopPropagation();
            consoleDeleteFromWL.style.display = "none";
        }

        var detailsID;
        function showDetails(detailsModalID) {
            var detailsModal = document.getElementById(detailsModalID)
            detailsModal.style.display = "block";
            detailsID = detailsModal;
        }
        function closeDetails(detailsModalID) {
            var detailsModal = document.getElementById(detailsModalID)
            detailsModal.style.display = "none";
            return false;
        }

        var deleteID;
        function showDeleteModal(deleteModalID) {
            event.stopPropagation();
            var deleteModal = document.getElementById(deleteModalID);
            deleteModal.style.display = "block";
            deleteID = deleteModal;
        }

        function closeDeleteModal(deleteModalID) {
            var deleteModal = document.getElementById(deleteModalID)
            deleteModal.style.display = "none";
            return false; 
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == deleteID) {
                deleteID.style.display = "none";
            }
            if (event.target == detailsID) {
                detailsID.style.display = "none";
            }
        }
    </script>
</div>