@page
@model NintendoInventory.UI.Pages.Wishlist.IndexModel
@{
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenicatedLayout" : "_Layout";
    }
}

<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Wishlist</h1>
    </div>
</div>

<div class="row m-4">
    @foreach (var game in Model.WishlistList)
    {
        <div id="@game.GameID" class="card">
            <a href="#" class="card_Link"></a>
            <img class="card-img-top" src="@game.GameImageURL">
            <div class="card-body">
                <h5 class="card-title">@game.GameTitle</h5>
                <!--<h7 class="card-date">game.ReleaseDate</h7>-->
            </div>
            <div id="gamePrice" class="col-sm-12">$@game.Price</div>
            <div>
                <a id="delButtonWL" onclick="showDeleteModal('deleteModal_@game.GameID')" class="btn btn-primary rounded-circle"><i class="bi bi-x"></i></a>
                <!--<a id="removeGame_@game.GameID" asp-page-handler="RemoveFromWishlist" asp-route-id="game.GameID" class="btn btn-primary rounded-circle"><i class="bi bi-x"></i></a>-->
            </div>
        </div>

        <!-- delete Modal -->
        <div id="deleteModal_@game.GameID" class="modal">
            <!-- Modal content -->
            <div class="modal-content px-5 py-3">
                <h5 class="fw-bold">Are you sure you want to delete @game.GameTitle?</h5>
                <p> You can always add it back from the Games page.</p>
                <div id="modalButtons">
                    <a asp-page="DeleteGame" asp-route-id="@game.GameID" class="confirmBtn btn btn-primary">Confirm</a>
                    <button id="cancelBtn_@game.GameID" onclick="closeDeleteModal('deleteModal_@game.GameID')" class="cancelBtn btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    }


    <script>

        var deleteID;
        function showDeleteModal(deleteModalID) {
            event.stopPropagation();
            var deleteModal = document.getElementById(deleteModalID);
            deleteModal.style.display = "block";
            deleteID = deleteModal;
        }

        function closeDeleteModal(detailsModalID) {
            var deleteModal = document.getElementById(detailsModalID)
            deleteModal.style.display = "none";
            return false;
        }
    </script>

</div>